node_modules
.vscode
data/
build/
dist
/**/sha.ts
/**/sha.h
*.tgz
.env
.DS_Store
*.tsbuildinfo
*.log

packages/mojos-contracts/**/artifacts
packages/mojos-contracts/**/cache

packages/mojos-contracts/abi/@openzeppelin/*
packages/mojos-contracts/abi/contracts/*
packages/mojos-contracts/abi/contracts/governance/*

!packages/mojos-contracts/abi/contracts
!packages/mojos-contracts/abi/contracts/governance
!packages/mojos-contracts/abi/contracts/MojosToken.sol
!packages/mojos-contracts/abi/contracts/MojosAuctionHouse.sol
!packages/mojos-contracts/abi/contracts/governance/MojosDAOLogicV1.sol
